@tailwind base;

@layer base {
  a {
    @apply text-purple-700;
  }

  html,
  body {
    @apply bg-gray-50 h-screen text-gray-700 relative font-sans;
  }
}

@tailwind components;
@tailwind utilities;

body:before {
  content: '';
  background: #5a45ff;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}
